.sidenav-container {
  height: 100%;
  background-image: url(inventarios2.jpg);
  background-size: cover;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background-color: #EFEFEF;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #EDEDED;
}

.example-spacer {
  flex: 1 1 auto;

}

.mat-sidenav-container {
  color: #FFFFFF;
}